

<!DOCTYPE html>
<html>
<head>

    <title>Free Easy-Trip Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="/Content/SiteTemplate/text/html; charset=utf-8" />
    <link rel="stylesheet" href="/Content/SiteTemplate/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/Content/SiteTemplate/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/Content/SiteTemplate/js/jquery.min.js"></script>
    <script src="/Content/SiteTemplate/js/responsiveslides.min.js"></script>

    
    
</head>

<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Default/Index/"><img src="~/Content/SiteTemplate/images/111.png" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="/Content/SiteTemplate/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>Whatsapp : +91 00000-55555</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Default/Index/">Anasayfa</a></li>
                <li><a class="hsubs" href="/Default/About/">Hakkımızda</a></li>
                <li><a class="hsubs" href="/Default/Blog/">Blog</a></li>
                <li><a class="hsubs" href="/Default/Contact/">İletişim</a></li>
                <li>
                    <a class="hsubs" href="#">Giriş İşlemleri</a>
                    <ul class="subs">
                        <li><a href="~/Güvenlik/Login/">Giriş yap</a></li>
                        <li><a href="~/Güvenlik/Logout/">Çıkış  yap</a></li>
                        <li><a href="/Kayitol/Uyeekle/">Üye ol</a></li>
                        @*<li><a href="~/admin/Index/">Yönetim paneli</a></li>*@
                    </ul>
                </li>


            </ul>
        </div>
    </div>

    

    <div class"content">
        
        @RenderBody()

    </div>
    
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2020 Makale.Net <a href="">Kurumsal Web Sitesi</a></p>
            </div>
        </div>
    </div>

</body>




</html>
