 


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ADMİN PANELİNE HOŞGELDİNİZ</h2>
<div>

    <img src="~/admin/Admin-resized-2.jpg" alt="" width="1000" />

</div>


