@model IEnumerable<Asp_Net_MVC_Blog.Models.sınıflar.makale>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <li>
        <img src="@item.Mresim" class="pull-left" alt="@item.Mbaslik" />
        <h6><a href="/Default/blogdetay/@item.Mid">@item.Mbaslik</a></h6>
        <p>
           @Html.Raw(item.Mözet)
        </p>
    </li>

}



