@model Asp_Net_MVC_Blog.Models.sınıflar.iletisim
    @{ 
        Layout = null;
    }
<div class="contact-left">
    <div class="contact-add">

        <p>Adres:@Model.adres</p>
            <p>Telefon: @Model.telefon</p>
            <p>@Model.fax</p>
            <p>Email:<a href=" ">@Model.mail</a></p>
    </div>

</div>
